
{{#if user}}
  <div class="intro-private">    
    <p>Hello, <span style="color: rgb(6, 53, 6);">{{ user.username}}</span>. <br> Here you can see your favorite parks </p>
    
    <img class="profilepic" src="{{user.profile_pic}}" alt=""> 
    <br>
    <a class="nav-link" href="/profile/edit">Edit profile / change avatar</a>
    
    
  </div>
{{/if}}



{{!-- {{user.favorites}} --}}

{{#each userFavs.favorites}}
<div class="favorite-list">
<p class="park-name">{{parkName}}</p>
<img class="images" src="{{images}}" alt="{{parkName}}">
<br>

<a class="" href="/parks/{{id}}">Park details</a>

<form action="/parks/quitfavorites" method="POST">
    <input type="hidden" name="parkID" value="{{this._id}}">
    <button type="submit">Remove <i class="fas fa-heart"></i></button>
  </form>
<hr>
</div>
{{/each}}



<a class="nav-link" href="/auth/logout">Logout</a>