<div>Private page</div>
{{#if user}}
  <div>
    <h1>Your favorite parks</h1>
    <h1>Hello, <span style="color: green;">{{ user.username}}</span>. Here are your favorite parks </h1>
    
    <br>
    <a class="nav-link" href="/profile/edit">Edit profile</a>
    <a href="/">Index</a>
    <img class="profilepic" src="{{user.profile_pic}}" alt=""> 
  </div>
{{/if}}



{{!-- {{user.favorites}} --}}

{{#each userFavs.favorites}}
<div class="favorite-list">
<p class="park-name">{{parkName}}</p>
<img class="images" src="{{images}}" alt="{{parkName}}">
<br>

<a href="/{{id}}">Park details</a>

<form action="/quitfavorites" method="POST">
    <input type="hidden" name="parkID" value="{{this._id}}">
    <button type="submit">Remove <i class="fas fa-heart"></i></button>
  </form>
<hr>
</div>
{{/each}}



<a class="nav-link" href="/auth/logout">Logout</a>