<div>Private page</div>
{{#if user}}
  <div>
    <h1>Your favorites/reviews</h1>
    <h1>Hello, <span style="color: green;">{{ user.username}}</span>. Here are your favorite parks </h1>
    {{!-- <img src="https://okdiario.com/img/2019/10/13/parques-mas-bonitos-de-barcelona-655x368.jpg" alt="Your parks."> --}}
    <br>
    <a href="/">Index</a>
  </div>
{{/if}}

{{user.favorites}}
{{#each userFavs.favorites}}
<p>{{parkName}}</p>
<img src="{{images}}" alt="{{parkName}}">
<br>
<a href="#"> Remove from favorites</a>
<hr>
{{/each}}



<a class="nav-link" href="/auth/logout">Logout</a>