<div>Private page</div>
{{#if user}}
  <div>
    <h1>Your favorites/reviews</h1>
    <h1>Hello, <span style="color: green;">{{ user.username}}</span>. Here are your favorite parks </h1>
    {{!-- <img src="https://okdiario.com/img/2019/10/13/parques-mas-bonitos-de-barcelona-655x368.jpg" alt="Your parks."> --}}
    <br>
    <a class="nav-link" href="/profile/edit">Edit profile</a>
    <a href="/">Index</a>
    <img src="{{user.profile_pic}}" alt=""> 
  </div>
{{/if}}



{{!-- {{user.favorites}} --}}

{{#each userFavs.favorites}}
<p>{{parkName}}</p>
<img class="images" src="{{images}}" alt="{{parkName}}">
<br>

<a href="/{{id}}">Park details</a>

<form action="/quitfavorites" method="POST">
    <input type="hidden" name="parkID" value="{{this._id}}">
    <button type="submit">Remove <i class="fas fa-heart"></i></button>
  </form>
<hr>
{{/each}}



<a class="nav-link" href="/auth/logout">Logout</a>