{{!-- <h1>{{title}}</h1> --}}
{{!-- <p>Welcome to ParkFinder 🌲🌳⛲ </p>
{{#if user}}
  <p>Welcome {{user.username}}</p>
{{/if}} --}}


<div class="main">
    <h3>Find your park and add it to your favorites!</h3>
      <div class="form">
        <form class="main-form" method="GET" action="/parks/find-parks">
        <label for="slide">
          <div class="main-checkbox">
          <div class="checkboxes">
          <input type="checkbox" id="slide" name="fountain"> 
          Fountain
          <br>
          <input type="checkbox" id="slide" name="playground"> 
          Playground
          <br>
          </div>
          <div>
          <input type="checkbox" id="slide" name="toilette"> 
          Public toilette
          <br>
          <input type="checkbox" id="slide" name="trees"> 
          Trees
      
          </div>
          <div>
          <input type="checkbox" id="slide" name="dogs"> 
          Dogs allowed
          <br>
          <input type="checkbox" id="slide" name="wifi"> 
          Wifi
          <br>
          <input type="checkbox" id="slide" name="skate"> 
          Skate zone
          <br>
          </div>
          </div>
          </label>
          <br>
          <label for="district"></label>
      <select id="district" name="district">
        <option value="" name="">Select district</option>
        <option value="Sants-Montjuïc" name="Sants-Montjuïc">Sants-Montjuïc</option>
        <option value="Ciutat Vella" name="Ciutat Vella">Ciutat Vella</option>
        <option value="Sant Martí" name="Sant Martí">Sant Martí</option> 
        <option value="Eixample" name="Eixample">Eixample</option>
        <option value="Sarrià-Sant Gervasi" name="Sarrià-Sant Gervasi">Sarrià-Sant Gervasi</option>
        <option value="Nou Barris" name="Nou Barris">Nou Barris</option>
        <option value="Les Corts" name="Les Corts">Les Corts</option>
        <option value="Horta-Guinardó" name="Horta-Guinardó">Horta-Guinardó</option>
        <option value="Gràcia" name="Gràcia">Gràcia</option> 
      </select>
      <input type="submit" value="Submit">
      </form>
    </div>

      <div class="list">
        {{#if parks}}
          {{#each parks}}
          <div class="list-item">
              <p class="park-name"> {{ parkName }} </p>
              <a href="/parks/{{id}}"><img class="images" src="{{ images }}" alt="{{ parkName }}"></a>

              
              
              <br>
              <a href="/parks/{{id}}">Park details</a>
              
              
          </div>
          {{/each}}
          {{else}}
          No matches found, please try again
          {{/if}}
      </div>
</div>
