{{!-- <h1>{{title}}</h1> --}}
<p>Welcome to ParkFinder 🌲🌳⛲ </p>
{{#if user}}
  <p>Welcome {{user.username}}</p>
{{/if}}

<h4>Find your park and add it to favorites!</h4>

<div class="list">
    {{#each parks}}
    <div class="list-item">
        <h3> {{ description }} </h3>
        <a href="/parks/{{id}}"><img class="images" src="{{ images }}" alt="{{ parkName }}"></a>

        
        
        <br>
        <a href="/parks/{{id}}">Park details</a>
        
        
    </div>
    {{/each}}
</div>
